#bloc_page {

}
h1 {
	text-align: center;
}
section {
	border:3px solid black;
    box-shadow: 6px 6px 6px black;
    padding:5px;
    width: 900px;
    margin: auto;	
}
footer {

}
/* Formulaire */
textarea{
	border-radius:12px;
	background: #a43628;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 6px;
	width:100%;
}
.boutonstyle {
	border-radius:12px 0 12px 0;
	background: #d34836;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	width:100%;
}

/* Notifications box */
/*
<div class="notify"><span class="symbol icon-info"></span> A kind of a notice box !</div>
<div class="notify notify-red"><span class="symbol icon-error"></span> Error message</div>
<div class="notify notify-green"><span class="symbol icon-tick"></span> A positive/success/completion message</div>
<div class="notify notify-yellow"><span class="symbol icon-excl"></span> A warning message</div>
*/
.symbol {
    font-size: 0.9em;
    font-family: Times New Roman;
    border-radius: 1em;
    padding: .1em .6em .1em .6em;
    font-weight: bolder;
    color: white;
    background-color: #4E5A56;
}

.icon-info { background-color: #3229CF; }
.icon-error { background: #e64943; font-family: Consolas; }
.icon-tick { background: #13c823; }
.icon-excl { background: #ffd54b; color: black; }

.icon-info:before { content: 'i'; }
.icon-error:before { content: 'x'; }
.icon-tick:before { content: '\002713'; }
.icon-excl:before { content: '!'; }

.notify {
    background-color:#e3f7fc; 
    color:#555; 
    border:.1em solid;
    border-color: #8ed9f6;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1.1em;
    padding:10px 10px 10px 10px;
    margin:10px;
    cursor: default;
}

.notify-yellow { background: #fff8c4; border-color: #f7deae; }
.notify-red { background: #ffecec; border-color: #fad9d7; }
.notify-green { background: #e9ffd9; border-color: #D1FAB6; }