#bloc_page {

}
h1 {
	text-align: center;
}
section {
	border:3px solid #94ae62;
    box-shadow: 6px 6px 6px #94ae62;
    padding:5px;
    width: 900px;
    margin: auto;	
}
footer {

}
/* Formulaire */
input,textarea{
	display: inline-block;
	background: #94ae62;
	border:1px solid #728c40;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 6px;
	width:100%;
}
.boutonstyle {
	display: inline-block;
	background: #94ae62;
	border:1px solid #728c40;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 6px;
	width:100%;
}
input, textarea {
    color: #333;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #555;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #555;
}
input.placeholder, textarea.placeholder {
    color: #555;
}
/* Notifications box */
.notify {
    background-color:#e3f7fc; 
    color:#555; 
    border:.1em solid;
    border-color: #8ed9f6;
    border-radius:10px;
    font-family:Verdana;
    font-size:1.1em;
    padding:10px 10px 10px 10px;
    margin:10px;
}
.notify-red { background: #ffecec; border-color: #fad9d7;color:red; }